    <div class="w-full flex flex-wrap rounded-lg" style="background-color: #FFD662;">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col h-1/2">

            <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                
            </div>

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-48">
                <p class="text-center text-6xl" style="color: #98B4D4">Welcome to Head Help</p>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
                    <div class="flex flex-col pt-4">
                        <label class="text-2xl">Email</label>
                        <input id="username" type="text" formControlName="username" placeholder="JoeBlogs23" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
    
                    <div class="flex flex-col pt-4">
                        <label class="text-2xl">Password</label>
                        <input id="password" type="password" formControlName="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
    
                    <button type="submit" class="text-white bg-blue-800 font-bold text-4xl outline-none hover:bg-green-600 p-2 mt-8 rounded-lg focus:outline-none">Login</button>
                </form>
                <div class="text-center pt-12 pb-12">
                    <button (click)="navRegister()" class="outline-none">Don't have an account? Register here.</button>
                </div>
            </div>

        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block rounded-lg" src="../../assets/sunrise.jpg">
        </div>
    </div>