    <div
      class="py-20"
      style="background: linear-gradient(90deg, #764ba2 0%,  #66c012 100%)"
    >
      <div class="container mx-auto px-6">
        <h2 class="text-6xl font-mono mb-2 text-white">
          Head Help
        </h2>
        <h3 class="text-4xl mb-8 text-black">
          Find help and resources to deal with mental health here!
        </h3>
        <button
          class="bg-white text-2xl text-gray-800 font-mono rounded-full py-4 px-8 shadow-lg uppercase tracking-wider outline-none hover:bg-green-500 hover:text-white" (click)="register()" >
          Register
        </button>
      </div>
    </div>
    <!-- Features -->
    <section class="container mx-auto px-6 p-10">
      <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
        Our Mission
      </h2>
      <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
          <h4 class="text-3xl text-gray-800 font-bold mb-3">
            Self Belief
          </h4>
          <p class="text-gray-600 mb-8">
            Believe and a achieve! Rule number 1 - you must believe in yourself! Sometimes it may be hard but when we learn to believe in ourselves, it will help with any hurdle we have to jump over! 
          </p>
        </div>
        <div class="w-full md:w-1/2">
          <img src="assets/HeadHelpLogo.jpg" alt="Monitoring" />
        </div>
      </div>
      <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
          <img src="assets/HandInspiration.jpg" alt="Reporting" />
        </div>
        <div class="w-full md:w-1/2 pl-10">
          <h4 class="text-3xl text-gray-800 font-bold mb-3">
            Be Considerate!
          </h4>
          <p class="text-gray-600 mb-8">
            Be kind, not just today, everyday. You never know what anyone is going through, and sometimes this could be the difference in making someone’s day or not.
          </p>
        </div>
      </div>
      <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
          <h4 class="text-3xl text-gray-800 font-bold mb-3">
            Syncing
          </h4>
          <p class="text-gray-600 mb-8">
            Our Smart Health Monitoring Wristwatch allows you to sync data
            across all your mobile devices whether iOS, Android or Windows OS
            and also to your laptop whether MacOS, GNU/Linux or Windows OS.
          </p>
        </div>
        <div class="w-full md:w-1/2">
          <img src="assets/ToughPeople.jpg" alt="Syncing" />
        </div>
      </div>
    </section>
    <!-- Testimonials -->
    <section class="bg-gray-100">
      <div class="container mx-auto px-6 py-20">
        <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
          Testimonials
        </h2>
        <div class="flex flex-wrap">
          <div class="w-full md:w-1/3 px-2 mb-4">
            <div class="bg-white rounded shadow py-2">
              <p class="text-gray-800 text-base px-6 mb-5">
                Monitoring and tracking my health vitals anywhere I go and on
                any platform I use has never been easier.
              </p>
              <p class="text-gray-500 text-xs md:text-sm px-6">
                John Doe
              </p>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-2 mb-4">
            <div class="bg-white rounded shadow py-2">
              <p class="text-gray-800 text-base px-6 mb-5">
                As an Athlete, this is the perfect product for me. I wear my
                Smart Health Monitoring Wristwatch everywhere I go, even in the
                bathroom since it's waterproof.
              </p>
              <p class="text-gray-500 text-xs md:text-sm px-6">
                Jane Doe
              </p>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-2 mb-4">
            <div class="bg-white rounded shadow py-2">
              <p class="text-gray-800 text-base px-6 mb-5">
                I don't regret buying this wearble gadget. One of the best
                gadgets I own!.
              </p>
              <p class="text-gray-500 text-xs md:text-sm px-6">
                James Doe
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Call to Action-->
    <section style="background:linear-gradient(90deg, #764ba2 0%,  #66c012 100%)">
      <div class="container mx-auto px-6 text-center py-20">
        <h2 class="mb-6 text-4xl font-bold text-center text-white">
          Coming Soon
        </h2>
        <h3 class="my-4 text-2xl text-white">
         Order one of our t-shirts to help fund our support services!
        </h3>
        <!-- <button
          class="bg-white font-bold rounded-full mt-6 py-4 px-8 shadow-lg uppercase tracking-wider">
          Order
        </button> -->
      </div>
    </section>
    