
  <div class=" flex justify-center py-4 border-b border-black font-bold text-xl">
      <a class="p-2 hover:bg-indigo-300 no-underline text-teal-dark rounded-lg border-black uppercase tracking-wide font-bold  py-3 mr-8" (click)="homeNav()">
          Home
      </a>
      <a class="p-2 hover:bg-indigo-300 no-underline text-grey-dark rounded-lg border-black uppercase tracking-wide font-bold py-3 mr-8" (click)="resourceNav()">
          Resources
      </a>
      <a class="p-2 hover:bg-indigo-300 no-underline text-grey-dark rounded-lg border-black uppercase tracking-wide font-bold py-3" (click)="supportNav()">
          Support Chat
      </a>
      <a class="p-2 pl-4 hover:bg-indigo-300 no-underline text-grey-dark rounded-lg border-black uppercase tracking-wide font-bold py-3 mr-8" (click)="loginNav()">
        Login
    </a>
  </div>
